.gradientBG {
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: #ADC698;
    /* For browsers that do not support gradients */
    /* background-image: linear-gradient(#0061FF,#0066FF, #60efff); */
}


.blogCardContainer {
    width: 100%;

    display: grid;
    padding: 0 20px;
    grid-template-columns: auto auto auto;
    gap: 20px;



}

figcaption {
    color: white;
}

.blogHeaderText {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color: aliceblue; */
    color: aliceblue;
    font-size: 15px;
}

.blogBodyText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color: aliceblue; */
    color: aliceblue;
    font-size: 12px;
}

.blogCard {
    width: 25vw;
    height: 20vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.imgContainer {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.cardContent {
    width: 100%;
    height: 100%;

}

/* If Screen Is Wide Enough */
@media(min-width:1000px) {
    .blogCard {
    width: 25vw;
    height: 60vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.imgContainer {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
    .blogHeaderText {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        /* color: aliceblue; */
        color: aliceblue;
        font-size: 20px;
    }

    .blogBodyText {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        /* color: aliceblue; */
        color: aliceblue;
        font-size: 18px;
    }
}