.fade-in{
   
    animation: fadeIn 1s ease-in 2.5s forwards;
    animation-fill-mode: forwards;
   
}
.academicContainer{
    animation: fadeInForAcademic 1s ease-in 2.5s forwards;
    overflow: hidden;
    animation-fill-mode: forwards;
}
.hobbiesContainer{
    overflow: hidden;
    animation: fadeInForHobbies 1s ease-in 2.5s forwards;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        grid-template-rows: 150px 0px 700px;
        opacity: 1;
    }
}

@keyframes fadeInForAcademic {
    from {
        opacity: 0;
    }
    to{
        grid-template-rows: 200px 0px 1500px;
        opacity: 1;
    }
}

@keyframes fadeInForHobbies {
    from {
        opacity: 0;
    }
    to{
        grid-template-rows: 200px 0px 1500px;
        opacity: 1;
    }
}