body {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin: 0px;

}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.myVideo {

    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin-top: 20px;
    position: absolute;
    display: grid;
    /* border-radius: 1%; */
    grid-template-columns: 400px;
    grid-template-rows: 200px 600px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.4); */
    /* grid-template-columns: repeat(3, 1fr); */
    /* Initially each element has its own row for small screens */
    grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
    /* border: 2px solid yellow; */
    opacity: 0;
}

/* add css for nested grid here */
/* add css for nested grid here */
#nestedGrid1 {
    display: grid;
    
    height: 27vh;
    transition: 500ms;
    grid-template-columns: 0.80fr 1fr;
    
}
/* .leftArr, .rightArr{  
    height: 25vh;
    width: 100%;
} */

#nestedGrid2 {
    display: grid;
    
    height: 27vh;
    margin-top: 50px;
    transition: 500ms;
    grid-template-columns: 1fr 0.80fr;
    
}
/* :where(.post1 .post2) {
    background: navajowhite;
    transition: 300ms;
}

:where(.post1, .post2):hover {
    background: crimson;
} */

#nestedGrid1:has(.post1:hover) {
    grid-template-columns: 5fr 0.5fr;
}

#nestedGrid2:has(.post2:hover) {
    transition-duration: 2s;
    grid-template-columns: 0.5fr 5fr;
}
.box:hover{
    background-color: rgba(0,46,44, 0.8);
}
.box:active{
    background: rgba(204, 202, 212, 0.5);
}

.box {
    background-color: rgba(0,46,44, 0.5);

}

.box_one {
    /* border-top-left-radius:5px 5px;
    border-top-right-radius:5px 5px; */
    /* background: #F6E8EA; */
    display: flex;
    align-items: center;
}

.box_two {
    /* border: 1px solid blue;
    background: white; */
}

.header {
    /* row start/column start/ row end/ column end */

    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    grid-area: hd;
}


.headerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

/* .sidebar {
    grid-area: sd;
} */

.content {
    grid-area: main;
    padding-top: 60px;
}

/* If Screen Is Wide Enough */
@media(min-width:1000px) {
    .container {
        
        display: grid;
        /* border-radius: 1%;

        box-shadow: 0 5px 15px rgb(0 0 0 / 0.6); */
        grid-template-columns: 1000px;
        grid-template-rows: 200px 0px 0px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "main main main main main"
            "ft ft ft ft ft ft ft ft";
        /* border: 2px solid red; */
        overflow: hidden;
    }

}