.titleFormat{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color: aliceblue; */
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    
}


.titleFormat:hover{
    color:aqua;
}
.titleFormat_one{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color: aliceblue; */
    color: aliceblue;
    font-size: x-large;
}
.footerFont {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* color: aliceblue; */
    color: aliceblue;
    font-size: 15px;
}
h1,p,footer:hover{
    cursor: pointer;
}

.titleFormat:active{
    color: blue;

}
/* If Screen Is Wide Enough */
@media(min-width:1000px) {
    .titleFormat_one{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 80px;
        color: aliceblue;
        
    }
    
    
}

a{
    text-decoration: none;
}