@import    "../CSSFiles/blogStyle.css";
@import "../CSSFiles/typographyFormats.css";
@import "../CSSFiles/loaderStyle.css";
@import "../CSSFiles/animationStyle.css";

.academicContainer {
    margin-top: 20px;
    position: absolute;
    display: grid;
    /* border-radius: 1%; */
    grid-template-columns: 400px;
    grid-template-rows: 200px 1000px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.4); */
    /* grid-template-columns: repeat(3, 1fr); */
    /* Initially each element has its own row for small screens */
    grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
    /* border: 2px solid yellow; */
    opacity: 0;
}

.academicGrid_1 {

    display: grid;

    height: 35vh;
    transition: 500ms;
    grid-template-columns: 0.5fr 1fr;

}

.academicGrid_2 {

    display: grid;
    height: 35vh;
    margin-top: 50px;
    transition: 500ms;
    grid-template-columns: 1fr 0.5fr;
    margin-bottom: 50px;
}

.blogContent_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(133, 94, 66, 0.7);
}

.blogContent_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(133, 94, 66, 0.7);
}

.purdue_logo {
    width: 100%;
    background: url("../img/Purdue-Boilermakers-basketball-logo.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 35vh;
}

.schoolContent {
    grid-template-columns: 0.6fr 0.9fr;
}

.schoolContentItems {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding-left: 20%;
    font-size:10px;
    align-items: left;
}

.content_title_right {
    width: 100%;
}
nav {
    position: fixed;
    width: 100%;
    height: 49px;
    z-index: 1;
    
    line-height: 50px;
}
ul {
    margin-top: -1.75px;
}
nav ul {
    display: flex;

    justify-content: center;
    align-self: center;
}

nav ul li {
    list-style-type: none;
    /* display: inline-block; */
    transition: 0.7s all;
}

nav ul li:hover {
    background-color: #088;
}
nav ul li a:active{
    color: aquamarine;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    
    padding: 30px;
}
#academic_nav{
    opacity: 0;
    animation: acaNavAnime 1s ease-in 2.5s forwards;
    
    animation-fill-mode: forwards;
}
@keyframes acaNavAnime {
    from {
        opacity: 0;
    }
    to {
       
        opacity: 1;
    }
}

@media(min-width:1000px) {
    .academicContainer {

        display: grid;
        /* border-radius: 1%;

        box-shadow: 0 5px 15px rgb(0 0 0 / 0.6); */
        grid-template-columns: 1000px;
        grid-template-rows: 200px 0px 0px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "main main main main main"
            "ft ft ft ft ft ft ft ft";
        /* border: 2px solid red; */
        overflow: hidden;
    }
    .schoolContentItems {
        display: flex;
        width: 100%;
        margin-top: 20px;
        padding-left: 20%;
        font-size: 20px;
        align-items: left;
    }
}