.post1{
    display: grid;
    width: 100%;
    grid-template-columns: 100% 0;
   
    transition-duration:1s;
}
.post1:hover{
    transition-duration:1s;
    grid-template-columns: 30% 70%;
}
.postCardContent{
    display:none;

}
.postCardTitle:hover+.postCardContent{
   
    display:flex;
    color: red;
    
}

.postCardTitle{
    display:flex;
    justify-content: center;
    align-items: center;
}